* {
    margin: 10px,
}

body {
    background-color: #0d1117;
    color: #e6edf3;
    font-family: Arial, sans-serif;
}

header {
    text-align: center;
}

header h1 a {
    color: #3b82f6;
    text-decoration: none;
}

header h1 a:visited {
    color: #3b82f6;
}

.post-title {
    color: #3b82f6;
    font-size: 2rem;
    text-transform: capitalize;
    margin: 0.5rem 0.6rem;
}

.post-title a {
    text-decoration: none;
}

.post-title a:visited {
    color: #3b82f6;
    text-decoration: none;
}

.post-author,
.post-body {
    margin: 0.5rem 2rem;
}