{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock title %}</title>
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:400" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% block extra_head %} {% endblock extra_head %}
</head>

<body>
    <header>
        <div class="nav-left">
            <a class="action" href="{% url 'home' %}">Home</a>
        </div>

        <div class="nav-right">
            <a class="action" href="{% url 'new-post' %}">+ Add new Post</a>
            {% if user.is_authenticated %}
            <form action="{% url 'logout' %}" method="post">
                {% csrf_token %}
                <input class="btn btn-danger" type="submit" value="Log out">
            </form>
            {% endif %}
        </div>
    </header>

    <div class="is-authenticated">
        {% if user.is_authenticated %}
        <p>Hi {{user.username}} !</p>
        {% else %}
        <p>You are not logged in. Please <a href="{% url 'login' %}">log in</a> or <a href="{% url 'register' %}">create
                an account</a></p>
        {% endif %}
    </div>

    <div>
        {% block content %}
        {% endblock content %}
    </div>
</body>

</html>